<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ Title }}</title>
</head>
<script type=text/javascript src="{{ url_for('static', filename='jquery.min.js') }}"></script>
<body>
    <span class="content"></span>
    <script>
        var last_data = "{{ data }}";
        console.log(last_data);
        var data = last_data.split(' ');
        console.log(data);
        $(document).ready(function(){
            html = "<h1> Last measure </h1> <br>";

            html += "sensor_ID : "      + data[1] + "<br>";
            html += "controller_ID : "  + data[2] + "<br>";
            html += "room : "           + data[3] + "<br>";
            html += "battery : "        + data[4] + "<br>";
            html += "humidity : "       + data[5] + "<br>";
            html += "motion : "         + data[6] + "<br>";
            html += "luminance : "      + data[7] + "<br>";
            html += "temperature : "    + data[8] + "<br>";
            html += "updatetime : "     + data[9] + "<br>";

            $('.content').html(html);

        });
    </script>

</body>
</html>